/**
 * Maldives
 */
.flag__maldives
	background-color: #cf1616
	&:after, &:before
		content: ""
		display: block
	&:before
		background-color: #189158
		display: block
		width: 10em
		height: 5em
		+relative($top: 40px, $left: 40px)
	&:after
		background-color: #189158
		width: 3.5em
		height: 3.5em
		border-radius: 100%
		box-shadow: -6px 0 0 1px #fff
		+absolute($top: 52px, $left: 100px)